// // Used on dialogues, form elements and buttons. 
$size-border-radius: 												3px;

// Apply to buttons and inputs to ensure consistent height. Is this used everywhere? 
$size-input-height: 												rem(48px);

//  Appy to nav if fixed, then to body element. 


$theme: (
	
	mobile-first: false,
	font-family-serif: null,
	base-size: 16px,
	brand-primary: #789798,
	button-type: rounded,
	site-padding: null
);


$colors: (
	brand-primary: (
		light: lighten(#009DFF, 5%),
		base: black,
		dark: darken(#009DFF, 5%)
	),
	brand-secondary: (
		light: lighten(#009DFF, 5%),
		base: #009DFF,
		dark: darken(#009DFF, 5%)
	),
	greyscale: (
		x-light: #F5F5F5,
		light: #EDEDED,
		base: #CCCCCC,
		mid: #989898,
		mid-dark: rgb(105, 105, 105),
		dark: #343840,
	), 
	info: (
		light: #FFF9D7,
		base: #ECDF9A,
		dark: #8C7A1B,
	),
);

$drop-shadow: 													0 2px 3px rgba(231,231,231,0.50);
$color-keyline-light: 									#F8F8F8;
$color-keyline-dark: #D8D8D8;
$font-family-primary: "jaf-bernino-sans", 'proxima nova';
$font-base-size: 16px








