// // Used on dialogues, form elements and buttons. 
$size-border-radius: 												3px;

// Apply to buttons and inputs to ensure consistent height. Is this used everywhere? 
$size-input-height: 												rem(48px);

//  Appy to nav if fixed, then to body element. 


$colors: (
	brand-primary: (
		light: lighten(#009DFF, 5%),
		base: #009DFF,
		dark: darken(#009DFF, 5%)
	),
	brand-secondary: (
		light: lighten(#009DFF, 5%),
		base: #009DFF,
		dark: darken(#009DFF, 5%)
	),
	greyscale: (
		x-light: #F5F5F5,
		light: #EDEDED,
		base: #CCCCCC,
		mid: #989898,
		mid-dark: #CCCCCC,
		dark: #343840,
	), 
	info: (
		light: #FFF9D7,
		base: #ECDF9A,
		dark: #8C7A1B,
	),
);

$drop-shadow: 													0 2px 3px rgba(231,231,231,0.50);
$color-keyline-light: 									#DFDFDF;
$font-family-primary: 'proxima nova', 'proxima-nova', Helvetica, Arial, sans-serif ;


// @mixin grid($value, $position: null, $offset: null) {
// 	// float: left;
// 	width: 100%;
// 	@media #{$large-up} {
// 		width: (100% / $column-numbers) * $value;
// 	}

// 	@if ($offset) {
// 		@media #{$large-up} {
// 			margin-left: (100% / $column-numbers) * $offset;
// 		}
// 	}

// 	@if $position == "centered" {
// 		margin: auto;
// 	}
// }









