@@include('_header.html')
<body class="page-about">
	@@include('_nav.html')
	<div class="masthead no-margin">
		<div class="masthead-contents">
			<h1>About Us</h1>
		</div>
	</div>
	<section class='padded background-light-grey text-center typography'>
		<div class="container-wide">
			<p>It has been well documented by the press and consumer watchdogs that the automotive repair industry is fraught with problems. Lack of transparency, poor quality labour, and wasted time taking cars to garages have all led to a large amount of mistrust in the industry.</p>
			
			<p>With a background in Automotive and Technology the team at ClickMechanic decided that there was a better way and in 2012 ClickMechanic was born.</p>
		</div>
	</section>
	<section class="padded text-center section-team border-bottom">
		<h2>Team Photos</h2>
		<div class="container-wide">
			<ul class="flex-grid-4 gutter-triple margin-bottom-triple">
				<li>
					<img src="../../images/andrew-jervis.png">
					<h3>Andy Jervis</h3>
					<p class="caption">Co-founder &amp; CEO</p>
				</li>
				<li>
					<img src="images/felix-kenton.png">
					<h3>Andy Jervis</h3>
					<p class="caption">Co-founder &amp; CEO</p>
				</li>
				<li>
					<img src="images/jake-mellett.png">
					<h3>Andy Jervis</h3>
					<p class="caption">Co-founder &amp; CEO</p>
				</li>
				<li>
					<img src="images/peter-kerr.png">
					<h3>Andy Jervis</h3>
					<p class="caption">Co-founder &amp; CEO</p>
				</li>
			</ul>
			<h2>Investors</h2>
			<ul class="flex-grid-4 gutter-triple">
				<li>
					<img src="images/klaus-nyengaard.png">
					<h3>Klaus Nyengaard</h3>
					<p class="caption">Chairman, Wahanda</p>
				</li>
				<li>
					<img src="images/rasmus-wolff.png">
					<h3>Rasmus Wolff</h3>
					<p class="caption">Former CCO, JustEat</p>
				</li>
				<li>
					<img src="images/giorgio-ponticelli.png">
					<h3>Giorgio Ponticelli</h3>
					<p class="caption">MD New Markets, Wahanda</p>
				</li>
				<li>
					<img src="images/lopo-champalimaud.png">
					<h3>Lopo Champalimaud</h3>
					<p class="caption">Founder &amp; CEO, Wahanda</p>
				</li>
				<li>
					<img src="images/chris-wood.png">
					<h3>Chris Wood</h3>
					<p class="caption">CCO, Wahanda</p>
				</li>
				<li>
					<img src="images/james-bromley.png">
					<h3>James Bromley</h3>
					<p class="caption">Former MD, Autotrader</p>
				</li>
				<li>
					<img src="images/simon-schneider.png">
					<h3>Simon Schneider</h3>
					<p class="caption">Former SEO Lead, Zoopla</p>
				</li>
				<li>
					<img src="images/andy-wilson.png">
					<h3>Andy Wilson</h3>
					<p class="caption">Growth Lead, GetYourGuide</p>
				</li>
				<li>
					<img src="images/leigh-philipson.png">
					<h3>Leigh Philipson</h3>
					<p class="caption">Founder &amp; CEO, Wahanda</p>
				</li>
				<li>
					<img src="images/imperial.png">
					<h3>Imperial Innovations</h3>
				</li>
				<li>
					<img src="images/ef.png">
					<h3>Entrpreneur First</h3>
				</li>
			</ul>
		</div>
	</section>
	<section class="padded text-center">
		<div class="container-wide">
			<h2>We're Hiring</h2>
			<a class="button primary">See Vacancies</a>
		</div>
	</section>
	<footer class="footer">
		<div class="container-wide">
			<div class="flex-row">
				<div class="columns-4">
					<h4 class="uppercase">Help &amp; Support</h4>
					<ul class="footer-links">
						<li><a>How It Works</a></li>
						<li><a>FAQ</a></li>
						<li><a>Why Use Us</a></li>
						<li><a>Contact Us</a></li>
					</ul>
				</div>
				<div class="columns-4">
					<h4 class="uppercase">Company</h4>
					<ul class="footer-links">
						<li><a>Our Story</a></li>
						<li><a>News &amp; Blog</a></li>
						<li><a>Press</a></li>
						<li><a>Reviews</a></li>
						<li><a>Careers</a></li>
						<li><a>Legals</a></li>
					</ul>
				</div>
				<div class="columns-4">
					<h4 class="uppercase">Get In Touch</h4>
					We're a chatty bunch - give us a call on 070 787987 78798.
				</div>
			</div>
		</div>
	</footer>
	</body>
</html>