@@include('_header.html')
	<body class="page-support">
		<!-- Masthead !-->
			<div class="masthead no-margin">
				<div class="masthead-contents">
					<div class="container-narrow">
						<h1>The Best Mobile </br> Mechanics In Birmingham</h1>
						<p>Get a vetted mobile mechanic to repair your vehicle wherever </br> and whenever you want, saving you time and money.</p>
						<div class="buttons">
							<a href="#" class="button primary">Get Started</a>
							<a href="#" class="button white hollow">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		<!-- Masthead !-->
		<section class="background-light-grey stats">
			<div class="container-wide">
				<ul>
					<li>
						<h3 class="h4">Local Mechanics</h3>
						<div class="h1 text-primary"><strong>500</strong></div>
					</li>
					<li>
						<h3 class="h4">Local Mechanics</h3>
						<div class="h1 text-primary"><strong>500</strong></div>
					</li>
					<li>
						<h3 class="h4">Local Mechanics</h3>
						<div class="h1 text-primary"><strong>500</strong></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="padded text-center border-bottom">
			<div class="container-wide">
				<h2 class="margin-bottom-double">Book a trusted mechanic for any car problem</h2>
				<div class="row">
					<div class="columns-4">
						Compete a few details about your car.
					</div>
					<div class="columns-4">
						Compete a few details about your car.
					</div>
					<div class="columns-4">
						Compete a few details about your car.
					</div>
				</div>
			</div>
		</section>
		<section class="padded">
			<div class="container-wide">
			<h2>Meet some of our highly rated mechanics</h2>
			<p>If you don't book and pay through the ClickMecahnic playform, you can't leave a review</p>
			<div class="row">
				<div class="columns-4">
					<div class="card margin-bottom-double">
						<header><h3>Popular Jobs</h3></header>
						<main>
							<ul class="popular">
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
							</ul>
						</main>
					</div>
					<div class="card margin-bottom-double">
						<header><h3>Popular Jobs</h3></header>
						<main>
							<ul class="popular">
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
							</ul>
						</main>
					</div>
					<div class="card">
						<header><h3>Popular Jobs</h3></header>
						<main>
							<ul class="popular">
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
								<li>Fiat Clutch Replacement</li>
							</ul>
						</main>
					</div>
				</div>
				<div class="columns-8">
							<div class="mechanic-card">
						<div class="mechanic-details">
							<div class="card-section">
								<img class="avatar" src="../../images/klaus-nyengaard.png">
								<img class="rating" src="../../images/icon-stars.png">
								<div class="label primary">12 Reviews</div>
								<img width="80px" src="../../images/icon-verified.png">
							</div>
						</div>
						<div class="mechanic-info">
							<div class="card-section border-bottom">
								<h3>Aiden M</h3>
								<div class="text-small text-muted margin-bottom-base">Aiden M Limited</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed maximus mauris. Proin neque velit, sodales ut nunc ut, efficitur consequat nibh….</p>
							</div>
							<div class="card-section">
								<ul class="mechanic-reviews">
									<li>
										<div class="float-right text-muted">1st of February 2015</div>
										<img src="../../images/icon-stars.png">
										<p class="large margin-bottom-base">“Did the job well”</p>
										<div class="text-muted">Wenda</div>
									</li>
									<li>
										<div class="float-right text-muted">1st of February 2015</div>
										<img src="../../images/icon-stars.png">
										<p class="large margin-bottom-base">“Did the job well”</p>
										<div class="text-muted">Wenda</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>

				<section class="unregistered-mechanics">
					<h2>Other Mechanics</h2>
					<ul class="flex-grid-3" ng-controller="mechanic">
						<li ng-repeat="i in getNumber(number) track by $index">
							<div class="card">
								<main>
									<h4>Mechanic Name</h4>
									<ul class="contact-details">
										<li class="location"><span class="icon-map margin-right-half"></span>12 Massive Road, E3 2UH</li>
										<li class="tel"><span class="icon-map margin-right-half"></span>079 22 78978 7899</li>
										<li class="hours"><span class="icon-map margin-right-half"></span>9am - 5pm, Monday - Friday</li>
										<li class="web"><span class="icon-map margin-right-half"></span>www.mymechanic.com</li>
									</ul>
								</main>
							</div>
						</li>
					</ul>
				</section>
				</div>

				
			</div>
		</div>
		</div>
		</section>

	</div>
		
		@@include('_footer.html')
		<script>
			$(document).ready(function() {
				$(".secondary-nav li").click(function() {
					$(".secondary-nav li a").toggleClass("is-visible");
					console.log("test");
				});
			});
var mechanic = function ($scope) {

			$scope.number = 20;
				$scope.getNumber = function(num) {
				    return new Array(num);   
				}
			}
		</script>
