@@include('_header.html')

<!-- Masthead !-->
	<div class="masthead no-margin">
		<div class="masthead-contents">
			<div class="container-narrow">
				<h1>The Best Mobile </br> Mechanics In Birmingham</h1>
				<p>Get a vetted mobile mechanic to repair your vehicle wherever </br> and whenever you want, saving you time and money.</p>
				<div class="filters">
							<div class="filter-container">
								<div class="select">
									<select>
										<option>Select Model</option>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
									</select>
								</div>
							</div>
							<div class="filter-container">
								<div class="select">
									<select>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
									</select>
								</div>
							</div>
							<div class="filter-container">
								<div class="select">
									<select>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
									</select>
								</div>
							</div>
							<div class="filter-container">
								<div class="select">
									<select>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
										<option>Test</option>
									</select>
								</div>
							</div>
							<div class="filter-container">
								<a class="button primary block">Get Started</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Masthead !-->

