.button, button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  display: inline-block;
  background: transparent;
  font-weight: 600;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 0.875rem 1rem;
  line-height: 1 !important;
  cursor: pointer;
  min-width: inherit; }
  @media all and (max-width: 999px) {
    .button, button {
      font-size: 1.125rem !important; } }
  .button:hover, .button:focus, button:hover, button:focus {
    border-color: #939393; }
  .button:active, button:active {
    border-color: #555454;
    color: #555454; }
  .button.primary, button.primary {
    border-color: #007EE5;
    background: #007EE5;
    color: white; }
    .button.primary:hover, .button.primary:focus, button.primary:hover, button.primary:focus {
      border-color: #006cc4; }
  .button.bordered, button.bordered {
    border: 1px solid #007EE5;
    color: #007EE5; }
  .button.secondary, button.secondary {
    background: #18D57F;
    color: white; }
    .button.secondary:hover, button.secondary:hover {
      background-color: #15be71; }
  .button.grey, button.grey {
    background: #e5e5e5;
    border: 0;
    color: white; }
  .button.facebook, button.facebook {
    background-color: #3D5B99;
    color: white; }
  .button.twitter, button.twitter {
    background-color: #2894F3;
    color: white; }
  .button.white, button.white {
    background: white;
    color: #007EE5; }
    .button.white:hover, button.white:hover {
      background: #f2f2f2; }
  .button.small, button.small {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 0.75rem; }
    .button.small.rounded, button.small.rounded {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      border-radius: 15px; }
  .button.medium, button.medium {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 16px 20px;
    font-size: 1.125rem; }
  .button.large, button.large {
    font-size: 1rem;
    padding: 20px 32px; }
  .button.rounded, button.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -0.02rem; }

html, body, div, span, object, iframe, hr,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, b, sub, sup, var, i, em,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

html {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #50555A;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  min-height: 100%; }
  @media all and (max-width: 500px) {
    html {
      font-size: 12px; } }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #F0F012;
  color: #181e20;
  font-weight: 500; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #CBD6E4;
  margin: 2rem 0; }

strong, b {
  font-weight: 500; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #007EE5; }

em, i {
  font-style: italic; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5; }

ul, ol {
  line-height: 1.5;
  margin: 0 0 1rem 1.5rem; }
  ul li, ol li {
    margin: 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }

dl {
  line-height: 1.5; }
  dl dt {
    font-weight: 400;
    margin: 0.5rem 0 0; }
    dl dt:first-of-type {
      margin-top: 0; }
  dl dd {
    color: #68838c;
    font-size: 0.875rem; }

blockquote {
  border-left: 4px solid #CBD6E4;
  padding-left: 1.5rem;
  margin: 1rem 0; }
  blockquote p {
    margin-top: 0;
    font-size: 1.125rem; }
  blockquote small {
    font-weight: 400;
    font-style: italic;
    font-size: 1rem; }

.logo-red, .logo-grey, .logo-blue, .logo-white {
  width: 100px;
  height: 1.875rem;
  line-height: 1.875rem;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain; }

.logo-red {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  background-image: url(../images/logo/logo-red.svg); }
  .logo-red.slide-left {
    display: none; }

.logo-grey {
  background-image: url(../images/logo/logo-grey.svg); }

.logo-blue {
  background-image: url(../images/logo/logo-blue.svg); }

.logo-white {
  background-image: url(../images/logo/logo-white.svg); }

.divider {
  border-bottom: 1px solid #CBD6E4;
  text-align: center;
  margin-bottom: 2rem; }
  .divider h2 {
    position: relative;
    bottom: -15px;
    background: white;
    display: inline-block;
    padding: 0 15px;
    font-size: 20px; }

p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 2; }
  p a {
    text-decoration: underline; }
  p:last-child {
    margin-bottom: 0; }
  p:first-child {
    margin-top: 0; }
  p.lead {
    font-size: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1, h2, h3 {
  margin: 0 0 1rem 0; }
  h1:first-of-type, h2:first-of-type, h3:first-of-type {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child {
    margin-bottom: 0; }

h4, h5, h6 {
  margin-bottom: 1rem; }
  h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0; }
  h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.75rem; }
  h2.heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500; }

h3 {
  font-size: 1.5rem; }
  h3.heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600; }

h4 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px !important;
  text-transform: uppercase; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 13.5rem; }

.legal {
  display: block;
  margin-top: 0.5rem;
  color: #AEB6BD;
  line-height: 1.5;
  font-size: 0.75rem; }
  .legal a {
    color: #007EE5; }

.slider {
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 1px solid #555454; }
  .slider li {
    list-style-type: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white;
    opacity: 0;
    height: 100%; }
    .slider li.is-active {
      opacity: 1; }

.slider a {
  background-color: white;
  width: 100%;
  display: inline-block; }

.slider {
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 1px solid #555454; }
  .slider li {
    list-style-type: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white;
    opacity: 0;
    height: 100%; }
    .slider li.is-active {
      opacity: 1; }

.slider a {
  background-color: white;
  width: 100%;
  display: inline-block; }

.example {
  width: 100%;
  border: 1px solid #CBD6E4;
  padding: 2rem;
  margin-bottom: 2rem; }
  .example > * {
    position: static !important; }

.banner {
  overflow: hidden;
  position: relative;
  box-shadow: none !important; }
  .banner.ga-1 li {
    background-image: url(../images/bg/bg-intro-illustration.png);
    background-repeat: no-repeat;
    background-position: center bottom; }
  .banner .slide {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 60px 20px 20px 20px;
    background: white;
    height: 100%; }
  .banner.second li {
    background-image: none; }
  .banner.second .agent {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 200px;
    background-image: url(../images/agent.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .banner p {
    font-size: 20px;
    margin: 0;
    color: black;
    font-weight: 400; }
  .banner h2 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 0; }
  .banner strong {
    color: #007EE5; }
  .banner .button {
    background-color: #FD982E;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 12px;
    padding: 16px 0; }
  .banner .ratings-5 {
    display: block;
    width: 160px;
    height: 24px;
    margin: 0 auto 12px; }
  .banner .slide-2 {
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration: infinite;
    -webkit-animation-direction: alternate; }
  .banner .slide-1 {
    -webkit-animation-iteration: infinite; }
  .banner .delay-3 {
    -webkit-animation-delay: 3.5s; }
  .banner.mpu {
    width: 300px;
    height: 250px; }
  .banner .logo-blue {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10; }

#ga-agent-widget-large, #ga-agent-widget-small, .banner {
  -webkit-box-shadow: 0px 0px 0px 4px #F8F8F8;
  -moz-box-shadow: 0px 0px 0px 4px #F8F8F8;
  box-shadow: 0px 0px 0px 4px #F8F8F8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CBD6E4;
  background: white; }
  #ga-agent-widget-large header, #ga-agent-widget-small header, #ga-agent-widget-large footer, #ga-agent-widget-small footer, #ga-agent-widget-large main, #ga-agent-widget-small main, .banner header, .banner footer, .banner main {
    padding: 0.5rem; }
  #ga-agent-widget-large header, #ga-agent-widget-small header, #ga-agent-widget-large main, #ga-agent-widget-small main, .banner header, .banner main {
    border-bottom: 1px solid #CBD6E4; }
  #ga-agent-widget-large header, #ga-agent-widget-small header, .banner header {
    text-align: center; }
  #ga-agent-widget-large footer, #ga-agent-widget-small footer, .banner footer {
    font-size: 0.75rem;
    text-align: center;
    color: #939393; }
    #ga-agent-widget-large footer img, #ga-agent-widget-small footer img, .banner footer img {
      display: inline-block;
      width: 80px;
      vertical-align: middle; }
  #ga-agent-widget-large .heading, #ga-agent-widget-small .heading, .banner .heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #939393; }
  #ga-agent-widget-large .agent-name, #ga-agent-widget-small .agent-name, .banner .agent-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600; }
  #ga-agent-widget-large .metrics, #ga-agent-widget-small .metrics, .banner .metrics {
    border-top: 1px solid #CBD6E4; }
    #ga-agent-widget-large .metrics .columns-6, #ga-agent-widget-small .metrics .columns-6, .banner .metrics .columns-6 {
      padding: 1rem 0; }
    #ga-agent-widget-large .metrics .value, #ga-agent-widget-small .metrics .value, .banner .metrics .value {
      font-size: 1.25rem;
      color: #007EE5; }

#ga-agent-widget-large {
  width: 300px;
  text-align: center; }
  #ga-agent-widget-large .ratings-5 {
    width: 140px;
    height: 50px; }
  #ga-agent-widget-large main {
    padding: 0 !important; }

#ga-agent-widget-small {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
  width: 150px;
  position: fixed;
  right: 1rem;
  bottom: 0;
  z-index: 9999; }
  #ga-agent-widget-small main {
    text-align: center; }

/*# sourceMappingURL=widgets.css.map */
