$button-colours: (primary: colors(brand-primary), secondary: colors(brand-secondary), white: #FFF)
$button-sizes: (small: 12px, medium: 14px, large: 16px)

button, .button 
	+border-radius(3px)
	display: inline-block 
	background: transparent
	padding: 0 sizes(double)
	height: 48px
	line-height: 48px
	letter-spacing: 1px
	
	font:
		weight: 600
		family: $font-family-primary
	
	text:
		decoration: none
		transform: uppercase
		align: center
	
	cursor: pointer
	-webkit-appearance: none // Removes styling on iOS
	
	&.rounded
		+border-radius(50px)

	
	@each $size, $value in $button-sizes
		&.#{$size}
			height: $value * 3.5
			font-size: $value
			line-height: $value * 3.5
			padding: 0 $value * 1.5
	
	@each $name, $value in $button-colours
		&.#{$name}
			background: $value
			color: white
			&.bordered
				background: transparent
				border: 1px solid $value
				color: $value

