.faq
	margin-bottom: $size-triple-unit
	dt
		font-size: rem(16px)
		padding: $size-single-unit 0
		margin: 0
		font-weight: 500
		border-bottom: 1px solid $color-keyline-light
		&:hover
			cursor: pointer
			color: $color-primary
		&.is-active
			color: $color-primary

	dd
		display: none
		font-size: rem(14px)
		padding: $size-single-unit 0

