.faq

	dt
		font-size: rem(20px)
		padding: sizes(base) 0
		margin: 0
		font-weight: 600
		border-bottom: 1px solid $color-keyline-light
		&:hover
			cursor: pointer
			color: colors(brand-primary)
		&.is-active
			color: colors(brand-primary)

	dd
		padding: sizes(double) 0
		display: none
		font-size: rem(16px)
		line-height: 1.4

