// Used on landing pages to create an inline 'get started' form, containing in some cases multiple inputs (post code, bedroom number etc).
// Call these filters?

.filters
	+clearfix
	display: inline-block
	// Makes it centered without needing to specify width. 
	button, .button
		+border-radius(0 3px 3px 0)
		height: rem(52px)
		padding: 0 $size-single-unit
		+respond-to-size($phone)
			+border-radius(3px !important)

	input, select
		+border-radius(0)
		+box-shadow(none)
		border: 0 
		height: rem(52px)
		+respond-to-size($phone)
			+border-radius(3px !important)

	.filter-container
		float: left
		position: relative
		min-width: 140px
		&:first-child
			input, select
				+border-radius(3px 0 0 3px)
		&:last-child
			input, select
				+border-radius(0 3px 3px 0) 

		+respond-to-size($phone)
			width: 100% !important
			border-right: 0 !important

			&:not(:last-child)
				margin-bottom: $size-single-unit

		&:not(:last-child)
			border-right: 1px solid $color-keyline-light
	
		&:first-child
			input
				+border-radius(3px 0 0 3px)
		&.postcode
			width: 320px

			input
				padding-left: 50px
			&:before
				content: ""
				width: 20px
				height: 22px
				position: absolute
				top: 50%
				margin-top: -11px
				left: $size-single-unit
				background-image: url(../images/icons/icon-pin-grey.png)
				background-size: 100%

		&.bedroom
			width: 240px
			border-right: 0


.post-code-finder
	
	margin-bottom: $size-single-unit
	.form-error-message
		position: absolute
		width: 300px
		top: 62px
		bottom: auto

	.benefits
		+nobullet
		margin-bottom: $size-single-unit
		li
			display: inline-block
			font-size: rem(12px)
			letter-spacing: 1px
			text-transform: uppercase
			font-weight: 600
			&:not(:last-child)
				margin-left: -4px
				&:after
					content: "\2022"
					padding: 0 $size-single-unit

	
	.form
		display: flex
		+respond-to-size($phone)
			flex-wrap: wrap
		input
			flex: 8
			+respond-to-size($phone)
				flex: auto
				margin-bottom: $size-single-unit
		button
			flex: 4
			margin-left: $size-single-unit
			+respond-to-size($phone)
				flex: auto
				width: 100%
				margin-left: 0