.example
	.modal
		position: relative
		border: 1px solid $color-keyline-light
		left: 0
		margin: auto

.section-team
	img
		margin-bottom: sizes(double-half)


.footer
	background: colors(greyscale, dark)
	padding: sizes(triple) 0 sizes(quadruple)
	width: 100%
	color: white
	font-size: rem(14px)

	a
		text-decoration: none
		color: white
	h4
		+responsive-text-size(small)
		margin-bottom: sizes(double)
		// color: lighten($color-background-dark, 20%)
	.footer-links
		+nobullet
		li
			&:not(:last-child)
				margin-bottom: sizes(base)
			a
				color: white

	.copyright
		margin-top: sizes(base)
		padding: sizes(base) 0
		font-size: rem(12px)
		// color: lighten($color-background-dark, 20%)

		.social-profiles
			+nobullet
			align-self: flex-end
			margin-left: auto
			display: flex
			
			li
				&:not(:last-child)
					margin-right: sizes(base)
				a
					// +background-image
					display: block
					background-size: 20px 20px
					width: 20px
					height: 20px

					&.facebook
						background-image: url(../images/icons/grey/icon-facebook.svg)
					&.twitter
						background-image: url(../images/icons/grey/icon-twitter.svg)
					&.google-plus
						background-image: url(../images/icons/grey/icon-google-plus.svg)

