$icons: (
	map: image_url('bg/bg-default.jpg'),
	moo: image_url('bg/bg-default.jpg'),
);

@each $name, $icon in $icons {
	.icon-#{$name} {
		background-image: $icon;
	}
}

// .icon
// 	&:hover
// 		cursor: pointer
// 	&.grey
// 		cursor: pointer
// 		fill: $color-keyline-light
// 		stroke: $color-keyline-light
// 		background: white // temp
// 		&:hover
// 			stroke: $color-primary
// 			fill: $color-primary

// %icon
// 	display: inline-block
// 	position: relative
// 	vertical-align: middle
// 	margin-top: -4px

// 	&:before
// 		// top: 2px
// 		position: relative
// 		display: block
// 		vertical-align: middle
// 		background: no-repeat center center transparent
// 		background-size: contain
// 		content: ""

// 	&.tooltip-top-center
// 		span
// 			top: -60px

// .icon-hands
// 	@extend %icon
// 	&:before
// 		background-image: url(../images/icons/icon-hands.svg)

// .icon-map
// 	@extend %icon
// 	&:before
// 		background-image: url(../images/icons/icon-map.svg)

// .icon-help
// 	@extend %icon
// 	&:before
// 		width: 12px
// 		height: 12px
// 		background-image: url(../images/icons/icon-help.svg)

// .icon-edit
// 	@extend %icon
// 	&:before
// 		width: 16px
// 		height: 16px
// 		background-image: url(../images/icons/grey/icon-edit.svg)

// .icon-eye
// 	@extend %icon
// 	&:before
// 		width: 24px
// 		height: 24px
// 		background-image: url(../images/icons/grey/icon-eye.svg)
// 	&:hover
// 		&:before
// 			background-image: url(../images/icons/grey/icon-eye-hover.svg)

// .icon-close
// 	@extend %icon
// 	&:before
// 		width: 18px
// 		height: 18px
// 		background-image: url(../images/icons/grey/icon-close.svg)


// // Used in search results
// .icon-pin-grey
// 	@extend %icon
// 	&:before
// 		background-image: url(../images/icons/icon-pin-grey.png)
// 		width: 20px
// 		height: 20px

// .icon-branch
// 	@extend %icon
// 	&:before
// 		background-image: url(../images/icons/icon-building.png)
// 		width: 20px
// 		height: 20px

// .icon-search
// 	@extend %icon
// 	&:before
// 		width: 24px
// 		height: 24px
// 		background-image: url(../images/icons/grey/icon-search.svg)
