$icons: (
	map: url('../clickmechanic/images/icons/icon-pin.png'),
);

@each $name, $icon in $icons {
	.icon-#{$name} {
		background-image: $icon;
		background-size: cover;
		width: 17px;
		height: 20px;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin-top: -4px;
	}
}

