.label
	+border-radius(3px)

	font-size: rem(13px)
	padding: sizes(quarter) sizes(half)
	border: 1px solid colors(greyscale)
	color: colors(greyscale)

	&.primary
		border-color: colors(brand-primary)
		color: colors(brand-primary)

	&.secondary
		border-color: colors(brand-primary)
		color: colors(brand-primary)

