.label
	+border-radius(3px)
	+responsive-text-size(small)
	font-weight: 600
	display: inline-block
	padding: sizes(half) sizes(base)

	&.primary
		background: colors(brand-primary)
		color: white

	&.secondary
		border-color: colors(brand-primary)
		color: colors(brand-primary)

