// <div class="masthead">
//	<div class="container-wide">
//  </div>
//

html
	font-family: 'proxima nova'

.masthead

	width: 100%
	background: 
		repeat: no-repeat no-repeat
		size: cover
		position: center center

	min-height: 400px
	padding: sizes(double) 0
	margin-bottom: sizes(double)
	text-align: center
	color: white
	display: table
	
	> .masthead-contents
		display: table-cell
		vertical-align: middle

	&.full-height
	
	h1
		margin-bottom: 0

	p 
		margin-top: sizes(base)

	.buttons
		.button:not(:last-child)
			margin-right: sizes(base)

	input
		border: 0