.sub-heading
	background: colours(greyscale, light)
	padding: sizes(base)
	font-size: rem(10px) !important
	font-weight: 600
	letter-spacing: 1px
	color: colours(greyscale, medium)
	text-transform: uppercase