.toggle
	+clearfix
	+border-radius(5px)

	display: block
	margin: auto
	text-align: center
	color: colours(brand-primary)

	ul
		+border-radius(5px)
		+nobullet
		display: table
		table-layout: fixed
		width: 100%
		border: 1px solid colours(brand-primary)
		
		li
			display: table-cell
			vertical-align: middle
			font-weight: 600
			padding: rem(12px) sizes(half) // Same height as inputs.
			
			&:not(:last-child)
				border-right: 1px solid colours(brand-primary)
			
			&.is-selected
				background-color: colours(brand-primary)
				color: white

			&:hover
				cursor: pointer

			a
				color: inherit
				display: block