h1, h2, h3, h4, h5, h6
	font-weight: 600
	line-height: 1
	&.uppercase
		font-weight: 600
		text-transform: uppercase
		letter-spacing: 0.1em

h1, h2
	margin-bottom: sizes(base)
	
h3, h4, h5, h6
	margin-bottom: sizes(half)

a
	color: greyscale(dark)
	
	&:hover
		color: colors(brand-primary)

	&.link-reset 
		color: inherit
	
	&.underline
		text-decoration: underline

@each $item, $size in $text-sizing
	.text-#{$item}
		@include responsive-text-size($item)

p
	+responsive-text-size(base)
	line-height: 1.8
	&:not(:last-child)
		margin-bottom: sizes(base)

	&.lead
		font-size: rem(24px)

small
	+responsive-text-size(x-small)

strong
	font-weight: 600

.no-bullet
	list-style-type: none
	padding: 0
	margin: 0
	> li
		line-height: 1.5 // Change to variable
		&:not(:last-child)
			margin-bottom: sizes(base)



.typography

	> h1, h2, h3, h4, h5, h6
		margin: sizes(triple) 0 sizes(base) 0

	> p, ul, li
		color: rgb(58, 58, 58)
		
	> p
		+responsive-text-size(base)
		margin-bottom: sizes(base)
		line-height: 2

		&:last-child
			margin-bottom: 0

		&:first-child
			margin-top: 0
		> a
			text-decoration: underline

	> ul, ol
		+responsive-text-size(base)
		margin-left: sizes(triple)
		padding: 0
		margin-bottom: sizes(base)

		> li
			margin: 0
			line-height: 1.5
			&:not(:last-child)
				margin-bottom: sizes(base)

		&:last-child
			margin-bottom: 0

h1, .h1
	@include responsive-text-size(x-large)

h2, .h2
	@include responsive-text-size(large)

h3, .h3
	@include responsive-text-size(medium-large)

h4, .h4
	@include responsive-text-size(medium)

h5, .h5
	@include responsive-text-size(small)

h6, .h6
	@include responsive-text-size(x-small)


.legal
	display: block
	margin-top: sizes(half)
	color: colours(greyscale, light)
	line-height: 1.5
	font-size: rem(12px)
	a
		color: colours(brand-primary)