@charset "UTF-8";
.background-light-grey { background: #EDEDED; }

.border-top { border-top: 1px solid #EDEDED; }

.border-right { border-right: 1px solid #EDEDED; }

.border-bottom { border-bottom: 1px solid #EDEDED; }

.border-left { border-left: 1px solid #EDEDED; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.float-right { float: right; }

.float-left { float: left; }

.no-margin { margin: 0 !important; }

.no-padding { padding: 0 !important; }

.padding-top-quarter { padding-top: 0.25rem !important; }

.padding-top-half { padding-top: 0.5rem !important; }

.padding-top-base { padding-top: 1rem !important; }

.padding-top-double-half { padding-top: 1.5rem !important; }

.padding-top-double { padding-top: 2rem !important; }

.padding-top-triple { padding-top: 3rem !important; }

.padding-top-quadruple { padding-top: 4rem !important; }

.padding-quarter { padding: 0.25rem; }

.padding-half { padding: 0.5rem; }

.padding-base { padding: 1rem; }

.padding-double-half { padding: 1.5rem; }

.padding-double { padding: 2rem; }

.padding-triple { padding: 3rem; }

.padding-quadruple { padding: 4rem; }

.padding-right-quarter { padding-right: 0.25rem !important; }

.padding-right-half { padding-right: 0.5rem !important; }

.padding-right-base { padding-right: 1rem !important; }

.padding-right-double-half { padding-right: 1.5rem !important; }

.padding-right-double { padding-right: 2rem !important; }

.padding-right-triple { padding-right: 3rem !important; }

.padding-right-quadruple { padding-right: 4rem !important; }

.padding-quarter { padding: 0.25rem; }

.padding-half { padding: 0.5rem; }

.padding-base { padding: 1rem; }

.padding-double-half { padding: 1.5rem; }

.padding-double { padding: 2rem; }

.padding-triple { padding: 3rem; }

.padding-quadruple { padding: 4rem; }

.padding-bottom-quarter { padding-bottom: 0.25rem !important; }

.padding-bottom-half { padding-bottom: 0.5rem !important; }

.padding-bottom-base { padding-bottom: 1rem !important; }

.padding-bottom-double-half { padding-bottom: 1.5rem !important; }

.padding-bottom-double { padding-bottom: 2rem !important; }

.padding-bottom-triple { padding-bottom: 3rem !important; }

.padding-bottom-quadruple { padding-bottom: 4rem !important; }

.padding-quarter { padding: 0.25rem; }

.padding-half { padding: 0.5rem; }

.padding-base { padding: 1rem; }

.padding-double-half { padding: 1.5rem; }

.padding-double { padding: 2rem; }

.padding-triple { padding: 3rem; }

.padding-quadruple { padding: 4rem; }

.padding-left-quarter { padding-left: 0.25rem !important; }

.padding-left-half { padding-left: 0.5rem !important; }

.padding-left-base { padding-left: 1rem !important; }

.padding-left-double-half { padding-left: 1.5rem !important; }

.padding-left-double { padding-left: 2rem !important; }

.padding-left-triple { padding-left: 3rem !important; }

.padding-left-quadruple { padding-left: 4rem !important; }

.padding-quarter { padding: 0.25rem; }

.padding-half { padding: 0.5rem; }

.padding-base { padding: 1rem; }

.padding-double-half { padding: 1.5rem; }

.padding-double { padding: 2rem; }

.padding-triple { padding: 3rem; }

.padding-quadruple { padding: 4rem; }

.margin-top-quarter { margin-top: 0.25rem !important; }

.margin-top-half { margin-top: 0.5rem !important; }

.margin-top-base { margin-top: 1rem !important; }

.margin-top-double-half { margin-top: 1.5rem !important; }

.margin-top-double { margin-top: 2rem !important; }

.margin-top-triple { margin-top: 3rem !important; }

.margin-top-quadruple { margin-top: 4rem !important; }

.margin-quarter { margin: 0.25rem; }

.margin-half { margin: 0.5rem; }

.margin-base { margin: 1rem; }

.margin-double-half { margin: 1.5rem; }

.margin-double { margin: 2rem; }

.margin-triple { margin: 3rem; }

.margin-quadruple { margin: 4rem; }

.margin-right-quarter { margin-right: 0.25rem !important; }

.margin-right-half { margin-right: 0.5rem !important; }

.margin-right-base { margin-right: 1rem !important; }

.margin-right-double-half { margin-right: 1.5rem !important; }

.margin-right-double { margin-right: 2rem !important; }

.margin-right-triple { margin-right: 3rem !important; }

.margin-right-quadruple { margin-right: 4rem !important; }

.margin-quarter { margin: 0.25rem; }

.margin-half { margin: 0.5rem; }

.margin-base { margin: 1rem; }

.margin-double-half { margin: 1.5rem; }

.margin-double { margin: 2rem; }

.margin-triple { margin: 3rem; }

.margin-quadruple { margin: 4rem; }

.margin-bottom-quarter { margin-bottom: 0.25rem !important; }

.margin-bottom-half { margin-bottom: 0.5rem !important; }

.margin-bottom-base { margin-bottom: 1rem !important; }

.margin-bottom-double-half { margin-bottom: 1.5rem !important; }

.margin-bottom-double { margin-bottom: 2rem !important; }

.margin-bottom-triple { margin-bottom: 3rem !important; }

.margin-bottom-quadruple { margin-bottom: 4rem !important; }

.margin-quarter { margin: 0.25rem; }

.margin-half { margin: 0.5rem; }

.margin-base { margin: 1rem; }

.margin-double-half { margin: 1.5rem; }

.margin-double { margin: 2rem; }

.margin-triple { margin: 3rem; }

.margin-quadruple { margin: 4rem; }

.margin-left-quarter { margin-left: 0.25rem !important; }

.margin-left-half { margin-left: 0.5rem !important; }

.margin-left-base { margin-left: 1rem !important; }

.margin-left-double-half { margin-left: 1.5rem !important; }

.margin-left-double { margin-left: 2rem !important; }

.margin-left-triple { margin-left: 3rem !important; }

.margin-left-quadruple { margin-left: 4rem !important; }

.margin-quarter { margin: 0.25rem; }

.margin-half { margin: 0.5rem; }

.margin-base { margin: 1rem; }

.margin-double-half { margin: 1.5rem; }

.margin-double { margin: 2rem; }

.margin-triple { margin: 3rem; }

.margin-quadruple { margin: 4rem; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.text-uppercase { text-transform: uppercase; letter-spacing: 1px; }

.text-lowercase { text-transform: lowercase; }

.text-capitalize { text-transform: capitalize; }

.is-hidden { display: none !important; visibility: hidden !important; }

.is-visible { display: inherit !important; visibility: visible !important; }

.block { display: block; width: 100%; }

.button, input[type="submit"], button { border-radius: 3px; -webkit-appearance: none; display: inline-block; background: transparent; padding: 0 2rem !important; height: 52px; line-height: 52px; font-size: 0.875rem; font-weight: 600; font-family: Helvetica, Arial, sans-serif; text-decoration: none; text-transform: capitalize; text-align: center; cursor: pointer; min-width: inherit; }
@media screen and (min-width: 720px) { .button, input[type="submit"], button { font-size: 1rem; } }
@media screen and (min-width: 960px) { .button, input[type="submit"], button { font-size: 1rem; } }
.button.primary, input[type="submit"], button.primary { background-color: #009DFF; color: white; }
.button.primary:hover, input[type="submit"]:hover, button.primary:hover { background-color: #008de6; }
.button.secondary, input.secondary[type="submit"], button.secondary { background-color: #009DFF; color: white; }
.button.secondary:hover, input.secondary[type="submit"]:hover, button.secondary:hover { background-color: #008de6; }
.button.secondary, input.secondary[type="submit"], button.secondary { background: #92D32D; color: white; }
.button.grey, input.grey[type="submit"], button.grey { background: #e5e5e5; border: 0; color: white; }
.button.facebook, input.facebook[type="submit"], button.facebook { background-color: #3D5B99; color: white; }
.button.twitter, input.twitter[type="submit"], button.twitter { background-color: #2894F3; color: white; }
.button.white, input.white[type="submit"], button.white { background: white; }
.button.white.hollow, input.white.hollow[type="submit"], button.white.hollow { border: 2px solid white; background: transparent; }
.button.white:hover, input.white[type="submit"]:hover, button.white:hover { background: #f2f2f2; }
.button.small, input.small[type="submit"], button.small { border-radius: 3px; padding: 0.5rem; }
.button.small.rounded, input.small.rounded[type="submit"], button.small.rounded { border-radius: 15px; }
.button.medium, input.medium[type="submit"], button.medium { border-radius: 3px; padding: 16px 20px; }
.button.large, input.large[type="submit"], button.large { padding: 0 32px; height: 52px; }

.modal { border-radius: 3px; -webkit-transition: all 1s; transition: all 1s; position: fixed; top: 50%; left: 50%; z-index: 9999; width: 500px; background-color: white; overflow: hidden; }
.modal .small { width: 400px; margin: auto; }
.modal.large { max-width: 600px; width: 95%; }
.modal .modal-header { zoom: 1; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-size: 1.5rem; font-weight: 500; text-transform: capitalize; border-bottom: 1px solid #EDEDED; }
.modal .modal-header:before, .modal .modal-header:after { content: ""; display: table; }
.modal .modal-header:after { clear: both; }
.modal .modal-close { position: absolute !important; cursor: pointer; z-index: 999; line-height: 1; }
.modal .modal-close:before { content: "×"; color: white; font-size: 24px; }
.modal .modal-body { zoom: 1; }
.modal .modal-body:before, .modal .modal-body:after { content: ""; display: table; }
.modal .modal-body:after { clear: both; }
.modal .modal-footer { zoom: 1; border-top: 1px solid #EDEDED; text-align: right; }
.modal .modal-footer:before, .modal .modal-footer:after { content: ""; display: table; }
.modal .modal-footer:after { clear: both; }

.modal-backdrop { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

.dropdown-menu-toggle { position: relative; cursor: pointer; height: rem(60px); padding: 0 12px; }
.dropdown-menu-toggle:after { height: 0; width: 0; margin-left: 0.5rem; margin-top: 3px; }
.dropdown-menu-toggle:after:hover { color: #009DFF; }
.dropdown-menu-toggle:hover { color: #009DFF; }
.dropdown-menu-toggle:hover:after { height: 0; width: 0; }

.dropdown-menu { z-index: 200; border-radius: 3px; box-shadow: 0 1px 3px rgba(120, 127, 131, 0.25); position: absolute; top: 100%; min-width: 180px; background: white; padding: 0; margin: 0; border: 1px solid #009DFF; }
.dropdown-menu > ul { list-style-type: none; margin: 0; padding: 0; }
.dropdown-menu > ul > li { text-align: left; line-height: 1; width: 100%; }
.dropdown-menu > ul > li:not(:last-of-type) { border-bottom: 1px solid #009DFF; }
.dropdown-menu > ul > li > a { display: block; color: #009DFF; font-size: 0.875rem; }
.dropdown-menu > ul > li > a:hover { color: #009DFF; }
.dropdown-menu.left { left: 0; }
.dropdown-menu.center { left: 50%; margin-left: -90px; }
.dropdown-menu.right { right: 0; }

.faq { margin-bottom: 3rem; }
.faq dt { font-size: 1rem; padding: 1rem 0; margin: 0; font-weight: 500; border-bottom: 1px solid #EDEDED; }
.faq dt:hover { cursor: pointer; color: #009DFF; }
.faq dt.is-active { color: #009DFF; }
.faq dd { display: none; font-size: 0.875rem; padding: 0; }

.example .modal { position: relative; border: 1px solid #EDEDED; left: 0; margin: auto; }

.section-team img { margin-bottom: 1.5rem; }

.footer { background: #343840; padding: 3rem 0 4rem; width: 100%; color: white; font-size: 0.875rem; }
.footer a { text-decoration: none; color: white; }
.footer h4 { font-size: 0.875rem; margin-bottom: 2rem; }
@media screen and (min-width: 720px) { .footer h4 { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { .footer h4 { font-size: 0.875rem; } }
.footer .footer-links { list-style-type: none; margin: 0; padding: 0; }
.footer .footer-links li:not(:last-child) { margin-bottom: 1rem; }
.footer .footer-links li a { color: white; }
.footer .copyright { margin-top: 1rem; padding: 1rem 0; font-size: 0.75rem; }
.footer .copyright .social-profiles { list-style-type: none; margin: 0; padding: 0; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; margin-left: auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.footer .copyright .social-profiles li:not(:last-child) { margin-right: 1rem; }
.footer .copyright .social-profiles li a { display: block; background-size: 20px 20px; width: 20px; height: 20px; }
.footer .copyright .social-profiles li a.facebook { background-image: url(../images/icons/grey/icon-facebook.svg); }
.footer .copyright .social-profiles li a.twitter { background-image: url(../images/icons/grey/icon-twitter.svg); }
.footer .copyright .social-profiles li a.google-plus { background-image: url(../images/icons/grey/icon-google-plus.svg); }

input[type="submit"] { width: 100%; }

.form-group { margin-bottom: 1rem; }

.checkbox { zoom: 1; }
.checkbox:before, .checkbox:after { content: ""; display: table; }
.checkbox:after { clear: both; }
.checkbox label { float: left; margin: 0; font-size: 24px; font-weight: 400; }
.checkbox input { float: left; margin-top: 0.5rem; margin-right: 1rem; }

form button { height: 52px; padding: 0 40px; min-width: 100px; }

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="url"], input[type="date"], input[type="tel"], input[type="search"], select, textarea, .input { -webkit-appearance: none; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05); border-radius: 3px; -webkit-transition: all ""; transition: all ""; border: 1px solid #EDEDED; background: white; height: 52px; padding: 1rem; font-weight: 400; font-family: Helvetica, Arial, sans-serif !important; font-size: 0.875rem; outline: none; color: #CCCCCC; text-decoration: none; width: 100%; }
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .input::-webkit-input-placeholder { -webkit-transition: color 0.25s; transition: color 0.25s; color: #EDEDED; }
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder, .input::-moz-placeholder { -webkit-transition: color 0.25s; transition: color 0.25s; color: #EDEDED; }
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="search"]:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder, .input:-moz-placeholder { -webkit-transition: color 0.25s; transition: color 0.25s; color: #EDEDED; }
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder, .input:-ms-input-placeholder { -webkit-transition: color 0.25s; transition: color 0.25s; color: #EDEDED; }
input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="url"]:focus::-webkit-input-placeholder, input[type="date"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, .input:focus::-webkit-input-placeholder { color: #EDEDED; }
input[type="text"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="number"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="url"]:focus::-moz-placeholder, input[type="date"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, input[type="search"]:focus::-moz-placeholder, select:focus::-moz-placeholder, textarea:focus::-moz-placeholder, .input:focus::-moz-placeholder { color: #EDEDED; }
input[type="text"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="number"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, input[type="url"]:focus:-moz-placeholder, input[type="date"]:focus:-moz-placeholder, input[type="tel"]:focus:-moz-placeholder, input[type="search"]:focus:-moz-placeholder, select:focus:-moz-placeholder, textarea:focus:-moz-placeholder, .input:focus:-moz-placeholder { color: #EDEDED; }
input[type="text"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="number"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, input[type="url"]:focus:-ms-input-placeholder, input[type="date"]:focus:-ms-input-placeholder, input[type="tel"]:focus:-ms-input-placeholder, input[type="search"]:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, .input:focus:-ms-input-placeholder { color: #EDEDED; }

textarea { height: auto !important; resize: none !important; }
textarea:last-child { margin-bottom: 0; }
textarea:focus::-webkit-input-placeholder { color: #EDEDED; }
textarea:focus::-moz-placeholder { color: #EDEDED; }
textarea:focus:-moz-placeholder { color: #EDEDED; }
textarea:focus:-ms-input-placeholder { color: #EDEDED; }

.form-error-message { border-radius: 3px; position: relative; bottom: -50%; display: none; width: 100%; left: 0; z-index: 9999; padding: 1rem; background: #F2DEDE; color: #B94A48; text-align: center; font-size: 0.75rem; }
.form-error-message:after { position: absolute; height: 0; width: 0; left: 50%; margin-left: -4px; top: -8px; z-index: 9999; }

label { display: block; font-size: 1.125rem; font-weight: 500; margin-bottom: 0.5rem; }

textarea { resize: vertical; }

select { appearance: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; }

.select { position: relative; cursor: pointer; width: 100%; }
.select:after { -webkit-transition: all ""; transition: all ""; position: absolute; right: 0.9em; top: 50%; margin-top: -2px; }

.filters { zoom: 1; display: inline-block; }
.filters:before, .filters:after { content: ""; display: table; }
.filters:after { clear: both; }
.filters button, .filters .button, .filters input[type="submit"] { border-radius: 0 3px 3px 0; height: 3.25rem; padding: 0 1rem; }
.filters input, .filters select { border-radius: 0; box-shadow: none; border: 0; height: 3.25rem; }
.filters .filter-container { float: left; position: relative; min-width: 140px; }
.filters .filter-container:first-child input, .filters .filter-container:first-child select { border-radius: 3px 0 0 3px; }
.filters .filter-container:last-child input, .filters .filter-container:last-child select { border-radius: 0 3px 3px 0; }
.filters .filter-container:not(:last-child) { border-right: 1px solid #EDEDED; }
.filters .filter-container:first-child input { border-radius: 3px 0 0 3px; }
.filters .filter-container.postcode { width: 320px; }
.filters .filter-container.postcode input { padding-left: 50px; }
.filters .filter-container.postcode:before { content: ""; width: 20px; height: 22px; position: absolute; top: 50%; margin-top: -11px; left: 1rem; background-image: url(../images/icons/icon-pin-grey.png); background-size: 100%; }
.filters .filter-container.bedroom { width: 240px; border-right: 0; }

.post-code-finder { margin-bottom: 1rem; }
.post-code-finder .form-error-message { position: absolute; width: 300px; top: 62px; bottom: auto; }
.post-code-finder .benefits { list-style-type: none; margin: 0; padding: 0; margin-bottom: 1rem; }
.post-code-finder .benefits li { display: inline-block; font-size: 0.75rem; letter-spacing: 1px; text-transform: uppercase; font-weight: 600; }
.post-code-finder .benefits li:not(:last-child) { margin-left: -4px; }
.post-code-finder .benefits li:not(:last-child):after { content: "•"; padding: 0 1rem; }
.post-code-finder .form { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.post-code-finder .form input { -webkit-box-flex: 8; -webkit-flex: 8; -ms-flex: 8; flex: 8; }
.post-code-finder .form button { -webkit-box-flex: 4; -webkit-flex: 4; -ms-flex: 4; flex: 4; margin-left: 1rem; }

section.padded { padding: 3rem 0; }

.container-wide, .container-narrow, .container-fluid { zoom: 1; position: relative; margin: auto; width: 100%; padding: 0 2rem; }
.container-wide:before, .container-narrow:before, .container-fluid:before, .container-wide:after, .container-narrow:after, .container-fluid:after { content: ""; display: table; }
.container-wide:after, .container-narrow:after, .container-fluid:after { clear: both; }

.container-wide { max-width: 1000px; }

.container-narrow { max-width: 700px; }

.gutter-quarter { margin-left: -0.25rem !important; margin-right: -0.25rem !important; }
.gutter-quarter > [class^="column"], .gutter-quarter > li { padding: 0 0.25rem !important; }

.gutter-half { margin-left: -0.5rem !important; margin-right: -0.5rem !important; }
.gutter-half > [class^="column"], .gutter-half > li { padding: 0 0.5rem !important; }

.gutter-base { margin-left: -1rem !important; margin-right: -1rem !important; }
.gutter-base > [class^="column"], .gutter-base > li { padding: 0 1rem !important; }

.gutter-double-half { margin-left: -1.5rem !important; margin-right: -1.5rem !important; }
.gutter-double-half > [class^="column"], .gutter-double-half > li { padding: 0 1.5rem !important; }

.gutter-double { margin-left: -2rem !important; margin-right: -2rem !important; }
.gutter-double > [class^="column"], .gutter-double > li { padding: 0 2rem !important; }

.gutter-triple { margin-left: -3rem !important; margin-right: -3rem !important; }
.gutter-triple > [class^="column"], .gutter-triple > li { padding: 0 3rem !important; }

.gutter-quadruple { margin-left: -4rem !important; margin-right: -4rem !important; }
.gutter-quadruple > [class^="column"], .gutter-quadruple > li { padding: 0 4rem !important; }

.columns-1 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-1 { width: 8.33333%; } }

.columns-2 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-2 { width: 16.66667%; } }

.columns-3 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-3 { width: 25%; } }

.columns-4, .mechanic-card .mechanic-details { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-4, .mechanic-card .mechanic-details { width: 33.33333%; } }

.columns-5 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-5 { width: 41.66667%; } }

.columns-6 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-6 { width: 50%; } }

.columns-7 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-7 { width: 58.33333%; } }

.columns-8, .mechanic-card .mechanic-info { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-8, .mechanic-card .mechanic-info { width: 66.66667%; } }

.columns-9 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-9 { width: 75%; } }

.columns-10 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-10 { width: 83.33333%; } }

.columns-11 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-11 { width: 91.66667%; } }

.columns-12 { width: 100%; margin-bottom: 2rem; padding: 0 1rem; float: left; }
@media screen and (min-width: 720px) { .columns-12 { width: 100%; } }

.flex-grid-1 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-1 > li { width: 100%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-1 > li:nth-last-child(-n+1) { margin-bottom: 0; }

.flex-grid-2 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-2 > li { width: 50%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-2 > li:nth-last-child(-n+2) { margin-bottom: 0; }

.flex-grid-3 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-3 > li { width: 33.33333%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-3 > li:nth-last-child(-n+3) { margin-bottom: 0; }

.flex-grid-4 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-4 > li { width: 25%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-4 > li:nth-last-child(-n+4) { margin-bottom: 0; }

.flex-grid-5 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-5 > li { width: 20%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-5 > li:nth-last-child(-n+5) { margin-bottom: 0; }

.flex-grid-6 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-6 > li { width: 16.66667%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-6 > li:nth-last-child(-n+6) { margin-bottom: 0; }

.flex-grid-7 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-7 > li { width: 14.28571%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-7 > li:nth-last-child(-n+7) { margin-bottom: 0; }

.flex-grid-8 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-8 > li { width: 12.5%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-8 > li:nth-last-child(-n+8) { margin-bottom: 0; }

.flex-grid-9 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-9 > li { width: 11.11111%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-9 > li:nth-last-child(-n+9) { margin-bottom: 0; }

.flex-grid-10 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-10 > li { width: 10%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-10 > li:nth-last-child(-n+10) { margin-bottom: 0; }

.flex-grid-11 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-11 > li { width: 9.09091%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-11 > li:nth-last-child(-n+11) { margin-bottom: 0; }

.flex-grid-12 { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -1rem; margin-right: -1rem; }
.flex-grid-12 > li { width: 8.33333%; padding: 0 1rem; margin-bottom: 2rem; }
.flex-grid-12 > li:nth-last-child(-n+12) { margin-bottom: 0; }

.offset-1 { margin-left: 8.33333%; }

.offset-2 { margin-left: 16.66667%; }

.offset-3 { margin-left: 25%; }

.offset-4 { margin-left: 33.33333%; }

.offset-5 { margin-left: 41.66667%; }

.offset-6 { margin-left: 50%; }

.offset-7 { margin-left: 58.33333%; }

.offset-8 { margin-left: 66.66667%; }

.offset-9 { margin-left: 75%; }

.offset-10 { margin-left: 83.33333%; }

.offset-11 { margin-left: 91.66667%; }

.offset-12 { margin-left: 100%; }

.row, .flex-row { zoom: 1; position: relative; }
.row:before, .row:after, .flex-row:before, .flex-row:after { content: ""; display: table; }
.row:after, .flex-row:after { clear: both; }
@media screen and (min-width: 720px) { .row, .flex-row { margin-left: -1rem; margin-right: -1rem; }
  .row > [class^="column"], .flex-row > [class^="column"] { padding: 0 1rem; } }

.icon-map { background-image: url("../clickmechanic/images/icons/icon-pin.png"); background-size: cover; width: 17px; height: 20px; display: inline-block; position: relative; vertical-align: middle; margin-top: -4px; }

.label { border-radius: 3px; font-size: 0.875rem; font-weight: 600; display: inline-block; padding: 0.5rem 1rem; }
@media screen and (min-width: 720px) { .label { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { .label { font-size: 0.875rem; } }
.label.primary { background: #009DFF; color: white; }
.label.secondary { border-color: #009DFF; color: #009DFF; }

.vertical-list { list-style-type: none; margin: 0; padding: 0; }
.vertical-list li { padding: 1rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.vertical-list.is-bordered > li { border-bottom: 1px solid #EDEDED; }
.vertical-list .icon { background: white; width: 30px; height: 30px; }
.vertical-list.is-thin > li { padding: 0.5rem 1rem; }

.masthead { width: 100%; background-repeat: no-repeat no-repeat; background-size: cover; background-position: center center; min-height: 400px; padding: 2rem 0; margin-bottom: 2rem; text-align: center; color: white; display: table; }
.masthead > .masthead-contents { display: table-cell; vertical-align: middle; }
.masthead h1 { margin-bottom: 0; font-weight: 800; line-height: 1.4; }
.masthead p { font-size: 1rem; margin-top: 1rem; font-weight: 600; }
@media screen and (min-width: 720px) { .masthead p { font-size: 1.125rem; } }
@media screen and (min-width: 960px) { .masthead p { font-size: 1.125rem; } }
.masthead .buttons .button:not(:last-child), .masthead .buttons input[type="submit"]:not(:last-child) { margin-right: 1rem; }
.masthead input { border: 0; }

section.padded { padding: 80px 0; }

.secondary-nav-mobile-toggle { background: #CCCCCC; padding: 1rem; }

.secondary-nav { position: absolute; top: 0; left: 0; width: 100%; z-index: 9999; }
@media screen and (min-width: 960px) { .secondary-nav { left: auto; width: 25%; margin-left: -1rem; padding: 0 1rem; } }
.secondary-nav ul { list-style-type: none; margin: 0; padding: 0; }
.secondary-nav ul > li > a { text-decoration: none; background: #343840; padding: 1rem; color: white; display: none; }
@media screen and (min-width: 960px) { .secondary-nav ul > li > a { display: block; padding: 0; padding-bottom: 2rem; } }
.secondary-nav ul > li > a.is-selected { display: block; }
.secondary-nav ul > li > a.is-selected:after { height: 0; width: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid white; position: relative; content: ""; float: right; top: 5px; }
@media screen and (min-width: 960px) { .secondary-nav ul > li > a { background: white; color: #343840; }
  .secondary-nav ul > li > a:hover { color: #009DFF; } }

.primary-nav-desktop { zoom: 1; position: fixed !important; top: 0; left: 0; background: #009DFF; height: rem(60px); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; z-index: 9999; }
.primary-nav-desktop:before, .primary-nav-desktop:after { content: ""; display: table; }
.primary-nav-desktop:after { clear: both; }
.primary-nav-desktop.is-fixed { box-shadow: 0 1px 3px 0 2px 3px rgba(231, 231, 231, 0.5); }
.primary-nav-desktop .primary-nav-links { list-style-type: none; margin: 0; padding: 0; zoom: 1; margin-left: 1rem; }
.primary-nav-desktop .primary-nav-links:before, .primary-nav-desktop .primary-nav-links:after { content: ""; display: table; }
.primary-nav-desktop .primary-nav-links:after { clear: both; }
.primary-nav-desktop .primary-nav-links > li { padding: 0 1rem; float: left; }
.primary-nav-desktop .primary-nav-links > li > a { -webkit-transition: color 0.25s; transition: color 0.25s; display: block; text-transform: uppercase; letter-spacing: 1px; color: white; height: 60px; line-height: 60px; cursor: pointer; font-size: 0.75rem !important; font-weight: 600; }
.primary-nav-desktop .primary-nav-links > li > a:hover { color: colours(brand-primary); }

.mobile-navigation-toggle { list-style-type: none; margin: 0; padding: 0; width: 50px; display: none; height: 59px; padding: 10px 14px; margin-left: auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.mobile-navigation-toggle li { width: 100%; height: 2px; background: colours(brand-primary); }
.mobile-navigation-toggle li:not(:last-child) { margin-bottom: 4px; }
.mobile-navigation-toggle.close-panel { position: absolute; right: 0; margin-right: 0; z-index: 9999; }
.mobile-navigation-toggle.close-panel li { margin-bottom: 0; }
.mobile-navigation-toggle.close-panel li:first-child { -webkit-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.mobile-navigation-toggle.close-panel li:nth-child(2) { display: none; }
.mobile-navigation-toggle.close-panel li:last-child { -webkit-transform: rotateZ(135deg); -ms-transform: rotateZ(135deg); transform: rotateZ(135deg); margin-top: -2px; }

.primary-navigation-mobile { -webkit-transition: all 0.5s; transition: all 0.5s; position: fixed; top: 0; left: -100%; width: 85%; height: 100vh; overflow-y: scroll; background: white; z-index: 9998; }
.primary-navigation-mobile .search-large { position: relative; box-shadow: none; }
.primary-navigation-mobile .search-large input { background-color: colours(brand-primary); height: 81px; background-position: 30px 30px; }
.primary-navigation-mobile .search-large input::-webkit-input-placeholder { color: white; }
.primary-navigation-mobile .search-large input::-moz-placeholder { color: white; }
.primary-navigation-mobile .search-large input:-moz-placeholder { color: white; }
.primary-navigation-mobile .search-large input:-ms-input-placeholder { color: white; }
.primary-navigation-mobile .search-large input:focus::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6); }
.primary-navigation-mobile .search-large input:focus::-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
.primary-navigation-mobile .search-large input:focus:-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
.primary-navigation-mobile .search-large input:focus:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); }
.primary-navigation-mobile .close { position: fixed; cursor: pointer; right: 2rem; top: 2rem; stroke: colours(primary); z-index: 9999; }
.primary-navigation-mobile.show { left: 0; }
.primary-navigation-mobile .navigation { list-style-type: none; margin: 0; padding: 0; }
.primary-navigation-mobile .navigation li a { font-size: 2rem !important; padding: 2rem 3rem; display: block; color: white; }
.primary-navigation-mobile .nav-footer { margin-top: 1rem; padding: 1rem; }
.primary-navigation-mobile .social-profiles { margin-top: 1rem; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

* { box-sizing: border-box; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, sub, sup, var, i, em, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; border: 0; outline: 0; vertical-align: baseline; }

html { font-size: 14px; line-height: 1; color: colours(greyscale, dark); min-height: 100%; }

article, aside, footer, header, menu, nav, section { display: block; }

table, tbody, tr, th, td { border-collapse: collapse; border-spacing: 0; border: 0; }

nav ul { list-style: none; }

mark { background-color: #F0F012; color: colours(greyscale, dark); font-weight: 500; }

hr { display: block; height: 1px; border-top: 1px solid #EDEDED; margin: 2rem 0; }

strong, b { font-weight: 500; }

a { cursor: pointer; text-decoration: none; color: colours(brand-primary); }

em, i { font-style: italic; }

img { max-width: 100%; }

table { width: 100%; }

.sub-heading { background: colours(greyscale, light); padding: 1rem; font-size: 0.625rem !important; font-weight: 600; letter-spacing: 1px; color: colours(greyscale, medium); text-transform: uppercase; }

.toggle-switch { height: 24px; display: inline-block; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.toggle-switch span { margin-left: 1rem; }
.toggle-switch input[type="checkbox"] { display: none; }
.toggle-switch input ~ label { position: relative; font-size: 12px !important; float: left; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-indent: 8em; margin: 0 !important; }
.toggle-switch input ~ label:before { width: 3.5em; height: 2em; position: relative; }
.toggle-switch input ~ label:before, .toggle-switch input ~ label:after { -webkit-transition: all 0.2s; transition: all 0.2s; border-radius: 100px; display: block; content: ""; background-color: colours(brand-primary); }
.toggle-switch input ~ label:after { top: 3px; left: 3px; position: absolute; background: white; width: 1.5em; height: 1.5em; content: ""; }
.toggle-switch input:checked ~ label:after { margin-left: 1.5em; }
.toggle-switch input:checked ~ label:before { background-color: #64CA3B; }

.tabs ul { list-style-type: none; margin: 0; padding: 0; border-bottom: 1px solid #EDEDED; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 1rem; padding: 5px; }
.tabs li { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; border-radius: 5px; }
.tabs li > a { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: block; text-align: center; padding: 10px; border-radius: 5px; }
.tabs li > a:focus { outline: none; }
.tabs li > a:not(:last-child) { margin-right: 2px; }
.tabs li > a:hover { background: white; cursor: pointer; }
.tabs li.is-selected > a, .tabs li.ui-state-active > a { color: red; }

.toggle { zoom: 1; border-radius: 5px; display: block; margin: auto; text-align: center; color: colours(brand-primary); }
.toggle:before, .toggle:after { content: ""; display: table; }
.toggle:after { clear: both; }
.toggle ul { border-radius: 5px; list-style-type: none; margin: 0; padding: 0; display: table; table-layout: fixed; width: 100%; border: 1px solid colours(brand-primary); }
.toggle ul li { display: table-cell; vertical-align: middle; font-weight: 600; padding: 0.75rem 0.5rem; }
.toggle ul li:not(:last-child) { border-right: 1px solid colours(brand-primary); }
.toggle ul li.is-selected { background-color: colours(brand-primary); color: white; }
.toggle ul li:hover { cursor: pointer; }
.toggle ul li a { color: inherit; display: block; }

.tooltip-top-left, .tooltip-top-right, .tooltip-top-center, .tooltip-bottom-center, .tooltip-bottom-right, .tooltip-bottom-left, .tooltip-right { position: relative; }
.tooltip-top-left .tooltip-content, .tooltip-top-right .tooltip-content, .tooltip-top-center .tooltip-content, .tooltip-bottom-center .tooltip-content, .tooltip-bottom-right .tooltip-content, .tooltip-bottom-left .tooltip-content, .tooltip-right .tooltip-content { border-radius: 3px; white-space: normal; padding: 1rem; display: none; text-transform: none !important; font-size: 0.75rem !important; font-weight: 400 !important; text-align: center; color: white; position: absolute; background: colours(greyscale, dark); }
.tooltip-top-left .tooltip-content:after, .tooltip-top-right .tooltip-content:after, .tooltip-top-center .tooltip-content:after, .tooltip-bottom-center .tooltip-content:after, .tooltip-bottom-right .tooltip-content:after, .tooltip-bottom-left .tooltip-content:after, .tooltip-right .tooltip-content:after { position: absolute; }
.tooltip-top-left .tooltip-content.is-visible, .tooltip-top-right .tooltip-content.is-visible, .tooltip-top-center .tooltip-content.is-visible, .tooltip-bottom-center .tooltip-content.is-visible, .tooltip-bottom-right .tooltip-content.is-visible, .tooltip-bottom-left .tooltip-content.is-visible, .tooltip-right .tooltip-content.is-visible { display: block !important; }

.tooltip-top-left .tooltip-content { left: -20px; bottom: 160%; }
.tooltip-top-left .tooltip-content:after { height: 0; width: 0; left: 24px; bottom: -8px; }

.tooltip-top-right .tooltip-content { right: -20px; bottom: 160%; }
.tooltip-top-right .tooltip-content:after { height: 0; width: 0; right: 24px; bottom: -8px; }

.tooltip-top-center .tooltip-content { left: 50%; top: -52px; }
.tooltip-top-center .tooltip-content:after { height: 0; width: 0; left: 50%; margin-left: -8px; bottom: -8px; }

.tooltip-bottom-center .tooltip-content { left: 50%; top: 100%; }
.tooltip-bottom-center .tooltip-content:after { height: 0; width: 0; left: 50%; margin-left: -8px; top: -8px; }

.tooltip-bottom-right .tooltip-content { right: 0; top: 100%; }
.tooltip-bottom-right .tooltip-content:after { height: 0; width: 0; right: 1rem; top: -8px; }

.tooltip-bottom-left .tooltip-content { left: 0; top: 100%; }
.tooltip-bottom-left .tooltip-content:after { height: 0; width: 0; left: 1rem; top: -8px; }

.tooltip-right .tooltip-content { right: -100%; bottom: 160%; }
.tooltip-right .tooltip-content:after { height: 0; width: 0; right: 24px; bottom: -8px; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; line-height: 1; }
h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase { font-weight: 600; text-transform: uppercase; letter-spacing: 0.1em; }

h1, h2 { margin-bottom: 2rem; }

h3, h4, h5, h6 { margin-bottom: 1rem; }

.link-reset { color: inherit; }

a { color: #CCCCCC; }

p { font-size: 0.875rem; line-height: 1.8; }
@media screen and (min-width: 720px) { p { font-size: 1rem; } }
@media screen and (min-width: 960px) { p { font-size: 1rem; } }
p:not(:last-child) { margin-bottom: 1rem; }
p.lead { font-size: 1.5rem; }
p.caption { font-size: 0.875rem; line-height: 1.2; }
@media screen and (min-width: 720px) { p.caption { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { p.caption { font-size: 0.875rem; } }

small { font-size: 0.875rem; }
@media screen and (min-width: 720px) { small { font-size: 0.75rem; } }
@media screen and (min-width: 960px) { small { font-size: 0.75rem; } }

.no-bullet { list-style-type: none; padding: 0; margin: 0; }
.no-bullet > li { line-height: 1.5; }
.no-bullet > li:not(:last-child) { margin-bottom: 1rem; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 { margin-bottom: 1rem; }
.typography p { margin-bottom: 1rem; line-height: 2; }
.typography p:last-child { margin-bottom: 0; }
.typography p:first-child { margin-top: 0; }
.typography a { text-decoration: underline; }
.typography ul, .typography ol { line-height: 1.5; margin: 0 0 1rem 1rem; }
.typography ul li, .typography ol li { margin: 0; }
.typography ul:last-child, .typography ol:last-child { margin-bottom: 0; }

h1, .h1 { font-size: 2.625rem; }
@media screen and (min-width: 720px) { h1, .h1 { font-size: 2.625rem; } }
@media screen and (min-width: 960px) { h1, .h1 { font-size: 2.625rem; } }

h2, .h2 { font-size: 2rem; }
@media screen and (min-width: 720px) { h2, .h2 { font-size: 2rem; } }
@media screen and (min-width: 960px) { h2, .h2 { font-size: 2rem; } }

h3, .h3 { font-size: 1.125rem; }
@media screen and (min-width: 720px) { h3, .h3 { font-size: 1.25rem; } }
@media screen and (min-width: 960px) { h3, .h3 { font-size: 1.25rem; } }

h4, .h4 { font-size: 1rem; }
@media screen and (min-width: 720px) { h4, .h4 { font-size: 1.125rem; } }
@media screen and (min-width: 960px) { h4, .h4 { font-size: 1.125rem; } }

h5, .h5 { font-size: 0.875rem; }
@media screen and (min-width: 720px) { h5, .h5 { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { h5, .h5 { font-size: 0.875rem; } }

h6, .h6 { font-size: 0.875rem; }
@media screen and (min-width: 720px) { h6, .h6 { font-size: 0.75rem; } }
@media screen and (min-width: 960px) { h6, .h6 { font-size: 0.75rem; } }

.divider { border-bottom: 1px solid #EDEDED; text-align: center; margin-bottom: 2rem; }
.divider h2 { position: relative; bottom: -15px; background: white; display: inline-block; padding: 0 15px; font-size: 20px; }

.heading { text-transform: uppercase; font-size: 1.5rem; font-weight: 500; }

.legal { display: block; margin-top: 0.5rem; color: colours(greyscale, light); line-height: 1.5; font-size: 0.75rem; }
.legal a { color: colours(brand-primary); }

html { font-family: "proxima nova"; }

.popular { list-style-type: none; margin: 0; padding: 0; }
.popular > li:not(:last-child) { margin-bottom: 1rem; }

.mechanic-card, .card { border-radius: 3px; background: white; border: 1px solid #DFDFDF; }
.mechanic-card header, .card header { padding: 1rem 0; text-align: center; border-bottom: 1px solid #EDEDED; }
.mechanic-card header h3, .card header h3 { font-size: 0.875rem; margin: 0; }
@media screen and (min-width: 720px) { .mechanic-card header h3, .card header h3 { font-size: 1rem; } }
@media screen and (min-width: 960px) { .mechanic-card header h3, .card header h3 { font-size: 1rem; } }
.mechanic-card main, .card main { padding: 2rem; }
.mechanic-card .contact-details, .card .contact-details { list-style-type: none; margin: 0; padding: 0; }
.mechanic-card .contact-details > li, .card .contact-details > li { font-size: 0.875rem; }
@media screen and (min-width: 720px) { .mechanic-card .contact-details > li, .card .contact-details > li { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { .mechanic-card .contact-details > li, .card .contact-details > li { font-size: 0.875rem; } }
.mechanic-card .contact-details > li:not(:last-child), .card .contact-details > li:not(:last-child) { margin-bottom: 1rem; }

.stats { padding: 1rem 0; }
.stats ul { list-style-type: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.stats ul > li { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; background: white; border: 1px solid #cccccc; text-align: center; padding: 2rem 0; }
.stats ul > li:not(:last-child) { margin-right: 2rem; }
.stats ul > li .stat-value { font-size: 2rem; }
@media screen and (min-width: 720px) { .stats ul > li .stat-value { font-size: 2rem; } }
@media screen and (min-width: 960px) { .stats ul > li .stat-value { font-size: 2rem; } }
.stats ul > li h3 { font-size: 0.875rem; }
@media screen and (min-width: 720px) { .stats ul > li h3 { font-size: 0.875rem; } }
@media screen and (min-width: 960px) { .stats ul > li h3 { font-size: 0.875rem; } }

.mechanic-card { zoom: 1; margin-bottom: 2rem; }
.mechanic-card:before, .mechanic-card:after { content: ""; display: table; }
.mechanic-card:after { clear: both; }
.mechanic-card .mechanic-details { padding: 2rem; text-align: center; }
.mechanic-card .mechanic-details .avatar { max-width: 100px; margin-bottom: 1rem; }
.mechanic-card .mechanic-details .rating, .mechanic-card .mechanic-details .label { margin-bottom: 1rem; }
.mechanic-card .mechanic-info { border-left: 1px solid #EDEDED; padding: 2rem; }
.mechanic-card .reviews { list-style-type: none; margin: 0; padding: 0; border-top: 1px solid #EDEDED; }
.mechanic-card .reviews .date { float: right; }
.mechanic-card .reviews p { font-size: 20px; }

.checklist { list-style-type: none; margin: 0; padding: 0; }
.checklist > li { zoom: 1; margin-bottom: 1rem; line-height: 1.7; }
.checklist > li:before, .checklist > li:after { content: ""; display: table; }
.checklist > li:after { clear: both; }
.checklist > li img { width: 30px; margin-right: 1rem; float: left; }

.referral { border-radius: 3px; background: #FFF9D7; border: 1px solid #ECDF9A; color: #8C7A1B; text-align: center; }
.referral td { padding: 20px; }

table { margin-bottom: 2rem; }

.section { background: white; width: 100%; border-radius: 3px; box-shadow: 0px 3px 0px #e6e6e6; }
.section > tbody > tr > td { padding: 1rem; }
.section > tbody > tr > td td { padding: 1rem 0; }
.section .section-header { border-bottom: 1px solid #EDEDED; }
.section .section-header h3 { margin: 0; }

.email { max-width: 600px; margin: auto; }

.masthead { background-image: url("../clickmechanic/images/bg-mechanics.jpg"); }

.logo { background-size: 100%; background-position: center; background-repeat: no-repeat; display: inline-block; background-image: url("../clickmechanic/images/logo.png"); width: 200px; height: 50px; }

.page-emails { background: #F5F5F5; padding: 50px 20px 0 20px; }

.page-body { padding-top: 80px; padding-bottom: 40px; }
@media screen and (min-width: 960px) { .page-body { padding-top: 0; } }

.page-support .masthead { margin-bottom: 0; }
@media screen and (min-width: 960px) { .page-support .masthead { margin-bottom: 2rem; } }

.page-legals .masthead { margin-bottom: 0; }
@media screen and (min-width: 960px) { .page-legals .masthead { margin-bottom: 2rem; } }
