include _header.html

h2 Buttons
p Button Colours
.example
	button.primary Primary
	button.secondary Secondary
	button.white White

p Button Sizes
.example
	button.primary.small Small
	button.primary.medium Medium
	button.primary.large Large

p Button Styles
.example
	button.primary Normal
	button.primary.rounded Rounded
	button.primary.rounded.bordered Rounded
	button.primary.bordered Rounded

h2 Navigation
.example
	.primary-nav-desktop
		.logo
		ul.primary-nav-links
			li
				a Link 1
			li
				a Link 1
			li
				a Link 1
			li
				a Link 1
		ul.user-links

h2 Form
.example
	form
		.form-group
			input(type="text", placeholder="Your Name")
		.form-group
			input(type="text", placeholder="Your Name")
		.form-group
			button.primary Submit

h2 Tabs
.example
	.tabs
		ul
			li
				a(href="#") Tab 1
			li
				a(href="#") Tab 1
			li
				a(href="#") Tab 1
			li
				a(href="#") Tab 1

h2 Dropdowns

.example
	.dropdown-menu-toggle
		| This isa link toggle
		.dropdown-menu.right
			ul
				li 
					a Test
				li 
					a Test
				li 
					a Test
				li 
					a Test

pre
	code
		| .dropdown-menu-toggle
		|	.dropdown-menu.right
		|		ul
		|			li 
		|				a Link 1
		|			li 
		|				a Link 1

include _footer.html