include _header.html

h1 Helpers
p All helper classes have an <strong>!important</strong> flat set on them to ensure they overide the element's styling. 

h2(id="background-color") Background Color
p A background-color helper is generated for the main colours defined in our theme file. 
p By default, these are: 
ul
	li .background-light
	li .background-dark
	li .background-white
	li .background-brand-primary
	li .background-brand-secondary

pre
	code.language-markup
		| .element.background-light

h2(id="borders") Borders
p Add a keyline to any element. Enso generates a helper for every side, as well as a light and dark variant.
ul
	li .bo
.example
	.element.border-top-light.margin-bottom-double
	.element.border-top-dark
pre
	code.language-markup
		| .element.background-top-light
		| .element.background-top-light

h2(id="colors") Colors
p Sets text color for an element. Can either be set on the parent, or on the element itself. 
ul
	li <strong>text-primary</strong>: primary brand color
	li <strong>text-primary</strong>: primary brand color
	li <strong>text-primary</strong>: primary brand color
	li <strong>text-primary</strong>: primary brand color
.example
	p.text-primary This is blue text
pre
	code.language-markup
		| .element.background-top-light
		| .element.background-top-light

h2(id="display") Display 
p Adds display property to an element. 
ul
	li <strong>inline-block:</strong> sets display to display: inline-block
	li <strong>block:</strong> sets display property to display: block


h2(id="line-height") Line Height
p Forces line-height. Can be used on parent or element itself. 
ul
	li line-height-double: sets line-height property to line-height: 2
	li line-height-reset: sets line-heu


h2(id="text-align") Text Align
p Forces text to align. These classes can either be set on the parent element, or the element itself (e.g. h2 class="text-left")
ul
	li text-left: aligns text to the left
	li text-center: aligns text to the center
	li text-right: aligns text to the right

h2(id="text-transform") Text Transform
p Forces text to transform
ul
	li text-uppercase: sets text-fransform to uppercase (adds 0.05em letter-spacing). 
	li text-capitalize: sets text mode to capitalize

h2(id="") Margin
p 
	| Margin helpers are paritcularly useful to help fine tune spacing in between elements, without needing to write custom selectors. 
	| The helper classes are available for both padding and margin, as follows: 
ul
	li padding-{direction}, margin-{direction} followed by the unit value
	li <strong>.no-margin</strong> and <strong>.no-padding</strong> removes any padding or margins. 

h2(id="text-sizes") Text Sizes
p Helpers for creating the various text sizes specified in the text-sizes.scss file (if you don't want to use the heading helpers). 
p Note that this method only sets the size - the weight is inherited from the parent.  
ul
	li text-x-small
	li text-small
	li text-base
	li text-medium
	li text-large
	li text-x-large
.example
	table.is-bordered
		tr
			td
				.text-x-large Heading 1
			td 36px
		tr
			td
				.text-large Heading 2
			td 36px
		tr
			td
				.text-medium-large Heading 2
			td 36px
		tr
			td
				.text-medium Heading 2
			td 36px
		tr
			td
				.text-small Heading 2
			td 36px
		tr
			td
				.text-x-small Heading 2
			td 36px




h2 Media Queries
p By default, media queries are mobile first (the styles you specifiy in the content block will only apply to device sizes greater than your specified breakpoint).

.example
	pre
		code
			| @include respond-to(device-large)
			| 	// Your Styles



h2(id="floats") Floats &amp; Clearfix
ul
	li <strong>float-left:</strong> floats elements left
	li <strong>float-right:</strong> float elements right
	li <strong>clearfix:</strong> clears the floats (apply to the parent element)

.example
	pre
		code
			| div class="clearfix"
			| 	div class="float-left"
			|		div class="flaot-right"
			| div

h2 Visiblity
p Forces an element to be visible, by setting visibility: visible, display: block and opacity: 1. 
ul
	li is-visible
	li is-hidden
	li -is-hidden-phone


h2(id="links") Links
p By default, includes a cursor pointer and the primary brand color. 
ul 
	li <strong>link-reset:</strong> to change to the same color as the parent container. 
	li <strong>underline:</strong> to underline

.example
	div.margin-bottom-double
		a.underline This link is underlined
	div
		a.link-reset This link is underlined
pre
	code
		| div class="clearfix"
		| 	div class="float-left"
		|		div class="flaot-right"
		| div

h2 Lists
p Use .no-bullet to remove bullets, margins and padding. 


h2 Typography
p For pages that include loads of text (such as articles, blogs etc), additional styels are needed to make the text legible. 
p Add the class 'typography' to your parent element to add proper spacing to headers, parapggs and list items. 







