<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>My Divshot Application</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<link rel="stylesheet" href="../docs/docs.css">
</head>

body.page-landing
	.photo
		.logo Test
		.colophon
			| Twitter | LinkedIn
			| Made with Love in London, by <a href="">Seb Powell</a>. 
	.text
		.get-started
			p Get Started

			.button.primary.large Download Enso 1.0
			| 1. To give Enso a test-drive, you can include the compiled 
		.text-contents
			.button.small Contact
			h1 Enso is a lightweight UI framework made by designers, for designers. 
			p Made with SASS &amp; CoffeeScript. Responsive, mobile-first and highly flexible. 
			a.button.primary(href="#") Get Started
			a.button.primary(href="intro.html") Read Docs