.no-margin
	margin: 0 !important

.no-padding
	padding: 0 !important

$types: padding, margin
$sides: top, right, bottom, left
// $modifiers: (quarter: @include(sizes, sizes(quarter)), half: sizes(half), base: sizes(base), double: $size-double-unit, triple: $size-triple-unit)

@each $type in $types
	@each $side in $sides
		@each $key, $value in $sizes
			.#{$type}-#{$side}-#{$key}
				#{$type}-#{$side}: $value !important

		@each $key, $value in $sizes
			.#{$type}-#{$key}
				#{$type}: $value