.text-center
	text-align: center

.text-right
	text-align: right

.text-left
	text-align: left

.text-uppercase
	text-transform: uppercase
	letter-spacing: 1px //px used intentionally

.text-lowercase
	text-transform: lowercase

.text-capitalize
	text-transform: capitalize

.line-height-double
	line-height: 1.3

.text-small
	+responsive-text-size(small)
.text-medium
	+responsive-text-size(medium)
.text-large
	+responsive-text-size(large)
.text-xlarge
	+responsive-text-size(x-large)


.text-primary
	color: colors(brand-primary) !important

.text-muted
	color: colors(greyscale, mid) !important