// Themes
$theme-getagent: (
	brand-primary: (
		light: lighten($color-brand-primary, 5%),
		base: $color-brand-primary,
		dark: darken($color-brand-primary, 5%)
	),
	brand-secondary: (
		light: lighten($color-brand-secondary, 5%),
		base: $color-brand-secondary,
		dark: darken($color-brand-secondary, 5%)
	),
	greyscale: (
		x-light: #F5F5F5,
		light: #EDEDED,
		base: #cccccc,
		dark: #343840,
	)	
);

@function palette($palette, $tone: 'base') {
	@return map-get(map-get($theme-getagent, $palette), $tone);
}


$color-keyline-light: 									palette(greyscale, light);