// Should this be project specific?
// The base size is used to create the following set of standard sizes, used throughout the interface for margins, padding, height etc. 
$size-base: 																16px;

$size-nav-height:												rem(60px);

$sizes: (
  quarter: 												rem($size-base / 4),
	half: 														rem($size-base / 2),
	base: 													rem($size-base),
	double-half: 										rem($size-base * 1.5),
	double: 													rem($size-base * 2),
	triple: 													rem($size-base * 3),
	quadruple: 											rem($size-base * 4),
);
