$text-sizing: (
  x-small: (
    device-small: (
      font-size: rem(14px)
    ),
    device-medium: (
      font-size: rem(12px)
    ), 
    device-large: (
      font-size: rem(12px)
    )
  ),
  small: (
    device-small: (
      font-size: rem(14px)
    ),
    device-medium: (
      font-size: rem(14px)
    ), 
    device-large: (
      font-size: rem(14px)
    )
  ),
  base: (
    device-small: (
      font-size: rem(16px)
    ),
    device-medium: (
      font-size: rem(16px)
    ), 
    device-large: (
      font-size: rem(16px)
    )
  ),
  medium-large: (
    device-small: (
      font-size: rem(24px)
    ),
    device-medium: (
      font-size: rem(24px)
    ), 
    device-large: (
      font-size: rem(24px)
    )
  ),
  large: (
    device-small: (
      font-size: rem(32px)
    ),
    device-medium: (
      font-size: rem(32px)
    ), 
    device-large: (
      font-size: rem(32px)
    )
  ),
  x-large: (
    device-small: (
      font-size: rem(42px)
    ),
    device-medium: (
      font-size: rem(42px)
    ), 
    device-large: (
      font-size: rem(42px)
    )
  ),
);


